.achievements{
    padding:100px 8%;
    background:
    linear-gradient(rgba(13,17,23,.60), rgba(13,17,23,.73)),
    url("BACKGROUND 1.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    color:#fff;
    font-size:42px;
    margin-bottom:15px;
}

.section-subtitle{
    text-align:center;
    color:#94a3b8;
    max-width:700px;
    margin:0 auto 60px;
    line-height:1.8;
}

.achievement-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.achievement-card{
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.achievement-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.35);
}

.achievement-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.achievement-content{
    padding:25px;
}

.achievement-content h3{
    color:#fff;
    margin-bottom:12px;
}

.achievement-content p{
    color:#cbd5e1;
    line-height:1.7;
}
.certificate-btn{
    display:inline-block;
    padding:12px 24px;
    background:linear-gradient(135deg,#7c3aed,#06b6d4);
    color:#fff;
    border-radius:30px;
    font-weight:600;
    transition:.3s;
}

.certificate-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(6,182,212,.35);
}


@media(max-width:768px){

.section-title{
    font-size:30px;
}

.section-subtitle{
    font-size:15px;
}

.achievement-card img{
    height:200px;
}

}